
<div class="container-fluid">
    <div class="row">

        <div class="col-4 offset-4 pt-4 pb-5 borderform">

            <h2>Reset password</h2>
            <p>Follow to link for reset your account. Link has send to your email address</p>

        </div>
    </div>
</div>