

<div class="container-fluid">
    <div class="row">

        <div class="col-4 offset-4 pt-4 pb-5">
            <p>
               Follow the <a asp-action="Login">link</a> to login your app.
            </p>

        </div>
    </div>
</div>